.main {
  padding: 40px 0px 40px 0px;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.heading {
  font-size: 40px;
}

.calender {
  width: 90%;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calender > * {
  scale: 1.5;
  padding: 5px;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .calender {
    width: 90%;
    height: auto;
  }

  .calender > * {
    scale: 1;
  }

  .stats {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
}

/* small screens */
@media all and (min-width: 320px) and (max-width: 767px) {
  .calender {
    width: 90%;
    height: auto;
  }

  .calender > * {
    scale: 1;
  }

  .stats {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
}
