.skills {
  background-color: #e2e4e3;
  padding: 40px 0px 60px 0px;
}

.skillsWrapper {
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.heading {
  font-size: 40px;
}

.skillsTechnologiesDiv {
  width: 100%;
  margin: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(5, auto);
  gap: 40px;
  padding: 20px 0px;
}

.skillsProficienciesDiv {
  width: 100%;
  margin: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, auto);
  gap: 40px;
  padding: 20px 0px;
}

.skillsToolsDiv {
  width: 100%;
  margin: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
  padding: 20px 0px;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .skillsWrapper {
    width: 100%;
  }

  .skillsTechnologiesDiv {
    grid-template-columns: repeat(3, auto);
  }

  .skillsProficienciesDiv {
    grid-template-columns: repeat(3, auto);
  }

  .skillsToolsDiv {
    grid-template-columns: repeat(3, auto);
  }
}

/* small screens */
@media all and (min-width: 320px) and (max-width: 767px) {
  .skillsWrapper {
    width: 100%;
  }

  .skillsTechnologiesDiv {
    grid-template-columns: repeat(2, auto);
  }

  .skillsProficienciesDiv {
    grid-template-columns: repeat(2, auto);
  }

  .skillsToolsDiv {
    grid-template-columns: repeat(2, auto);
  }
}
