.contact {
  background-color: white;
  padding: 40px 0px 60px 0px;
}

.wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.wrapper > h1 {
  color: #005685;
}

.wrapperDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapperDiv > div:nth-child(2) {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
  color: #005685;
}

.wrapperDiv > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wrapperDiv > div:nth-child(2) > div:nth-child(3) {
  width: 30%;
  font-size: 50px;
}

.wrapperDiv > div:nth-child(2) > div:nth-child(3) > * {
  cursor: pointer;
}
