.contact {
  background-color: white;
  padding: 40px 0px 60px 0px;
}

.wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.heading {
  color: #005685;
  font-size: 40px;
}

.wrapperDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapperDivRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
  color: #005685;
  font-size: 20px;
  width: min-content;
}

.wrapperDivRight > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialLink {
  width: 50%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socialLink img {
  width: 38%;
  cursor: pointer;
}

.socialLink img:hover {
  transform: scale(1.2);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 80%;
  }
}

/* small screens */
@media all and (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    width: 90%;
  }

  .wrapperDiv {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .wrapperDivLeft {
    display: none;
  }
}
