.navbar {
  width: 100%;
  height: 80px;
  background-color: #005685;
  position: fixed;
  z-index: 100;
  font-size: 20px;
  color: white;
}

.wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 90%;
  margin: auto;
}

.wrapperLeft img {
  width: 50px;
  cursor: pointer;
}

.wrapperRight {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.navbar-resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 125px;
  text-align: center;
  color: #005685;
  padding: 10px;
  border-radius: 10px;
  font-style: normal;
  cursor: pointer;
}

.navbar-resume:hover {
  color: white;
  background-color: #ff8a2e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.wrapperRight a:hover {
  cursor: pointer;
  color: #ff8a2e;
}

.responce {
  display: none;
}

/* meidum screens
@media all and (min-width: 768px) and (max-width: 1024px) {
  /* .wrapperRight {
    display: none;
  } */

  /* .responce {
    display: block;
    font-size: 30px;
  }

  .drawerbody {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .drawerbody a:hover {
    cursor: pointer;
    color: #ff8a2e;
  } 

  .navbar-resume {
    background-color: #005685;
    color: white;
  }
}

@media all and (min-width: 280px) and (max-width: 767px) {
  .wrapperRight {
    display: none;
  }

  .responce {
    display: block;
    font-size: 30px;
  }

  .drawerbody {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .drawerbody a:hover {
    cursor: pointer;
    color: #ff8a2e;
  }

  .navbar-resume {
    background-color: #005685;
    color: white;
  }
} 

*/
